$primary: #F4FEC1;
$secondary: #2A0033;
$secondary-alpha: #2A0033DD;

body {
  background-image: radial-gradient(ellipse at right, $primary, $secondary);
  color: $primary;
  font-family: 'Rokkitt', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;


  h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: $primary;
  }

  #splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-alpha;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fade-out;
    animation-duration: 1s;

    @keyframes fade-out {
      from {top: -100vh; bottom: 100vh;}
      to   {top: 0; bottom: 0;}
    }

    #text {
      text-align: center;
    }
  }

  #buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

    button {
      background-color: $primary;
      border: 1px clear solid;
    }
  }
  
  #dropdown-container {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;

    #dropdown {
      select {
        color: $secondary;
        background-color: $primary;
        font-size: 17px;
        font-family: 'Rokkitt', serif;
        width: 30vw;
      }
    }
  }

  #earth_div1, #earth_div2 {
    top: 0; 
    bottom: 0; 
    position: absolute !important; 
    width: 45vw; 
    z-index: -1000;

    @media (max-width: 1024px) {
      left: 0;
      right: 0;
      height: 45vh;
      width: 80vw;
    }
  }

  #earth_div1 {
    left: 0;

    @media (max-width: 1024px) {
      top: 9vh;
      bottom: auto;
      left: auto;
      right: 0
    }
  }

  #earth_div2 {
    right: 0;

    @media (max-width: 1024px) {
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
    }
  }

  #filler {
    flex-grow: 5;

    @media (max-width: 1024px) {
      flex-grow: 0
    }
  }

  #bottom {
    display: flex;
    flex-direction: row;

    @media (max-width: 1024px) {
      position: absolute;
      left: 0;
      flex-direction: column;
      width: 20vw;
      height: 50%;
    }

    #selected, #compare {
      width: 45vw;
      text-align: center;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    #bottom-filler {
      flex-grow: 12;
    }
  }
}
